---

import MainLayout from "~/layouts/MainLayout.astro";
import { Github, Linkedin, Mail, FileText } from "lucide-astro";
import WorkExperienceSection from "~/components/section/WorkExperienceSection.svelte";
import EducationSection from "~/components/section/EducationSection.svelte";
import SkillSection from "~/components/section/SkillSection.svelte";
import { Image } from 'astro:assets';
import profile from "../../public/assets/images/seno.jpg";

import { educations } from '~/data/education';
import { workExperiences } from "~/data/work-experience";
import { skill } from "~/data/skill";
import siteData from "~/data/site";
const socials = [
    { icon: Mail, link: siteData.email, label: "Email" },
	{ icon: Github, link: siteData.github, label: "Github" },
	{ icon: Linkedin, link: siteData.linkedin, label: "LinkedIn" },
	{ icon: FileText, link: siteData.cv, label: "CV" },
]

---

<MainLayout seo={{ title: "Home" }}>
    <main class="mx-auto max-w-[740px] px-2 md:px-4 py-10">
        <header class="flex pb-4">
			<div class="flex-1 pr-6">
				<h1 class="text-xl md:text-2xl font-extrabold font-serif text-black">
					Seno Rama Dhani
				</h1>
				<p class="text-sm md:text-base leading-relaxed font-serif text-gray-600 py-2 max-w-60ch">
					Software engineering is not just about writing code. It’s about solving problems and making lives better.
				</p>
				<div class="flex items-center gap-2 pt-2">
					{socials.map((social) => (
						<a
							href={social.link}
							class="text-gray-600 hover:text-gray-950 p-1 rounded-lg border border-gray-400/80 hover:border-gray-600"
							target="_blank"
							rel="noopener noreferrer"
						>
							<social.icon size={18}/>
						</a>
					))}
				</div>
			</div>
			<a
				href={siteData.github}
				target="_blank"
				rel="noopener noreferrer"
				class="relative w-20 h-20 md:w-32 md:h-32 rounded-3xl"
			>
				<img
					src="https://raw.githubusercontent.com/Raa-11/cdn/main/photo_2024-01-03_22-07-25.jpg?token=GHSAT0AAAAAACWQSK5YQNURJDWKREHZ3SFSZXIJ2TQ"
					alt="@Raa-11"
					class="w-full h-full object-cover rounded-2xl object-top"
				/>
				<div class="absolute inset-0 bg-blue-300/20 rounded-2xl" />
			</a>
		</header>
		<section class="pt-4 md:pt-8">
			<h2 class="text-xl md:text-2xl font-bold font-serif text-black pb-4">About</h2>
			<p class="text-sm md:text-base leading-relaxed font-serif text-gray-600">
				I’m Seno Rama Dhani, a software engineer based in Bandung, Indonesia.
				My primary focus is backend engineering, but I’m also proficient in frontend development.
				Currently, I’m enjoying expanding my knowledge in DevOps.
			</p>
		</section>
		<WorkExperienceSection client:visible workExperiences={workExperiences} />
		<EducationSection client:visible educations={educations} />
		<SkillSection client:visible skills={skill} />
    </main>
</MainLayout>
